$primary: #003359;
$success: #6abe28;
// $background-accent: #eceff1;
$navbar-min-height: 5rem;

$body-overflow-y: auto;

@import "bulma";
@import "bulma-switch";
@import "@creativebulma/bulma-tooltip";

.navbar {
  min-height: $navbar-min-height;
}

html.has-navbar-fixed-top,
body.has-navbar-fixed-top {
  padding-top: $navbar-min-height;
}

.navbar-item,
.navbar-link {
  padding: 1rem 1.5rem;
}

.navbar-item.logo {
  font-size: 1.8rem;
  font-weight: bold;
  &,
  &:hover,
  &:visited,
  &:active,
  &:focus {
    color: black;
  }

  img {
    max-height: 2.7rem !important;
    width: 2.7rem;
    margin-right: 1rem;
  }
}

.navbar-burger {
  height: unset;
}

.small-box {
  max-width: 650px;
  margin: auto;
}

.center-vertically {
  min-height: calc(100vh - 2 * $navbar-min-height);
  display: flex;
  background-color: inherit;
}

.center-vertically > * {
  flex: 0 0 66.7%;
}

.navbar {
  border-bottom: 1px solid rgba($primary, 0.15);
}

.block-cell {
  background-color: white;
  padding: 1.5rem;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0px 0 1px rgba(10, 10, 10, 0.02);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-loader {
  margin: auto;
  margin-top: 3rem;
  @include loader;
  width: 3rem;
  height: 3rem;
}

.profile-pic {
  border-radius: 50%;
  background-color: rgba($primary, 0.7);
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: #ffffff;
  line-height: 0.8em;
}

.loader-row {
  margin: auto;
  @include loader;
}

.dropdown-psuedo-hover {
  background-color: hsl(0, 0%, 96%);
  color: hsl(0, 0%, 4%);
}
